*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}

@for $i from 1 through 4 {
    .box-#{$i * 100}{
        background-color: darken(pink, $i*10%);
    }
}


body{
    width: 100%;
    height: 100vh;
    @include alignment();
    main{
        display: flex;
        div{
            width: 200px;
            height: 200px;
            border: 1px solid gray;
            margin: 5px;
            @include alignment();

            p{
                color: white
            }
        }
    }
}